/*This montainer incudes our table and our canvas*/
.centerContainer {
    width: 608px;       /*Setting width. matches canvas size*/
    margin: 0 auto;     /*center*/
    margin-top: 50px;   /*offsets table 50px down*/
}
/*remember that .centereContainer is a class. This is made using a "."*/
table {
    border-collapse: collapse;      /*turns all borders into one*/
    border-style: hidden;           /*hides outer borders*/
}

td {
    cursor: pointer;
    border: 4px solid rgba(0, 0, 0, 0.8);         /*thickness, type of border, (red green blue transparency)*/
    padding: 0;                                         /*inside spacing*/
    width:  200px;                                      /*setting cell dimentions*/  
    height: 200px;
}

canvas {
    position: absolute;         /*sets canvas to the top left corner of the container. absolute goes off of parent position*/
    z-index: 10;                /*canvas is over the top of the table*/
    pointer-events: none;       /*makes canvas invisible*/
}